@import "../../../styles/settings.scss";
// @import url("https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css");
// żeby użyć ostylowania komponentów reactowo bootstrapowych należy zaimportować plik z linii nr 2, wtedy działa ostylowanie dla modala w Order TIPS
.root {
  padding: 5rem 0;

  a:hover {
    text-decoration: none;
  }

  .container {
    margin: 0 auto;
    width: 100%;

    .dividerSection {
      width: 100%;
      border: solid 1px rgb(119, 82, 52);
      margin-top: 10px;
      @include small {
        margin-top: 10px;
      }
      @include medium {
        margin-top: 10px;
      }
      @include large {
        margin-top: 15px;
      }
    }

    .productSection {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      // border: solid red;

      @include small {
        justify-content: center;
      }
      @include medium {
        justify-content: center;
      }
      @include large {
        justify-content: center;
      }
    }

    .productBox,
    .commentsBox,
    .quantityBox,
    .priceBox {
      display: flex;
      flex-direction: column;
      text-align: center;
      align-items: center;
      // border: solid red;
      .productTitle {
        font-size: 16px;
        color: $color-main_font;
        letter-spacing: 1px;
        font-weight: 500;
      }

      h5 {
        text-transform: none;
        color: $color-main_font;
        margin: 20px;
        font-size: 16px;
        padding: 0;
        font-weight: bold;
      }
    }

    .productBox {
      width: 230px;
    }

    .commentsBox {
      margin: 0 15px;
      // border: solid red;
    }
    .quantityBox,
    .priceBox {
      width: 127px;
      @include small {
        width: 83px;
      }
      @include medium {
        width: 81px;
      }
      div {
        color: $color-main_font;
        margin: 20px;
        font-size: 16px;
        padding: 0;
      }
    }

    .quantityBox {
      margin: 0 25px;

      input {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #2a2a2a;
        color: #2a2a2a;
        line-height: 22px;
        width: 35px;
        text-align: center;
      }
    }
    .quantityButton,
    .priceBox > div {
      display: flex;
      text-align: center;
      align-items: center;
      align-content: center;
      align-self: center;
      height: 100%;
    }

    .photo {
      height: 100px;
      width: 80%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding-top: 5px;
    }

    .checkout .form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: center;
      width: 600px;
      margin: 0 auto;

      > * {
        margin: 12px 0;
      }

      .input {
        display: none;
      }
    }

    .checkout,
    .order {
      display: flex;
      justify-content: flex-end;
      padding: 15px;
    }

    .order,
    h5 {
      text-transform: uppercase;
      color: #2a2a2a;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .checkout .link {
      text-decoration: none;
    }

    .checkout button {
      border: none;
      background-color: $color-primary;

      &:hover {
        background-color: #2a2a2a;
        color: white;
      }
    }

    h5 {
      margin-bottom: 50px;
      padding-left: 10px;
    }
  }
}
