@import '../../../styles/settings.scss';

.root {
  .app_bar {
    display: flex;
    flex-direction: row;
    background-color: sandybrown;
    justify-content: center;
    margin: auto;
    padding: auto;
    height: 120px;
    // width: 100%;
    .typography {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      height: 100%;
      width: 800px;
      .font_style{
        font-family: 'Meow Script', cursive;
        font-size: 60px;
        color: saddlebrown;
        // border: solid red;
      }
    }
    .phoneNumber {
      p {
        margin: 0;
        font-size: 17px;
        line-height: 42px;
        color: white;
        font-weight: 500;
        position: relative;

        &::after {
          content: "";
          position: absolute;
          left: 60%;
          top: 100%;
          transform: translateX(-50%);
          width: 0;
          height: 2px;
          background-color: white;
          transition: width 250ms ease-in-out;
        }

        &:hover::after {
          width: 33%;
        }

        &:hover {
          cursor: pointer;
        }

        .icon {
          font-size: 32px;
          color: saddlebrown;
          vertical-align: middle;
          margin-top: -3px;
          margin-right: 0.8rem;
          &:hover {
            animation: shake 250ms;
          }
        }
      }
    }
  }
  .link {
    color: inherit;
    font-weight: 400;
  }
}
