@import '../../../styles/settings.scss';

.root {
  .app_bar {
    display: flex;
    flex-direction: row;
    background-color: sandybrown;
    justify-content: center;
    margin: auto;
    padding: auto;
    height: 120px;
    .typography {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      height: 100%;
      // border: solid red;
      .font_style{
        font-family: 'Meow Script', cursive;
        font-size: 60px;
        color: saddlebrown;
        // border: solid red;
      }
    }
  }
  .link {
    color: inherit;
    font-weight: 400;
  }
}
