@import "../../../styles/settings.scss";

.root {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  background-color: $color-main_background;

  .container {
    max-width: 1930px;
  }
}
