@import "../../../styles/settings.scss";

.root {
  padding: 24px 0;
  margin: 20px;

  .container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    // height: 700px;
    // border: solid yellowgreen;

    .containerImage {
      display: flex;
      align-items: center;
      position: relative;
      max-width: 800px;
      height: 100%;
      padding: 0;
      .gallery {
        flex-wrap: wrap;
        justify-content: center;
      }

      .wrapperLeft {
        display: flex;
        justify-content: space-between;
        position: relative;
        padding: 0;
        height: 400px;
        width: 700px;

        .imgLarge {
          height: 100%;
          width: 95%;
          object-fit: cover;
        }
      }

      .wrapperRight {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        position: relative;
        padding: 0;
        height: 410px;
        width: 700px;

        .imgLarge {
          height: 96%;
          width: 95%;
          object-fit: cover;
        }
      }

      .wrapperSmall {
        position: relative;
        height: 195px;
        // width: 550px;
        width: 100%;
        align-items: center;
        // border: solid red;
        img {
          height: 100%;
          width: 100%;
          object-fit: cover;
        }
      }
    }

    .image {
      display: block;
      max-width: 100%;
      height: auto;
      border: solid;
    }

    .overlay {
      position: absolute;
      bottom: 100%;
      left: 0;
      right: 0;
      background-color: #d1d3bd;
      opacity: 0.8;
      overflow: hidden;
      width: 100%;
      height: 0;
      transition: 0.5s ease;
    }

    .containerImage:hover .overlay {
      bottom: 0;
      height: 100%;
    }

    .text {
      white-space: nowrap;
      color: rgb(182, 31, 31);
      font-size: 60px;
      position: absolute;
      overflow: hidden;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
    }

    // .description {
    //   border: solid yellow;
    // }

    .break {
      border-bottom: 1px solid black;
    }

    .cart {
      background-color: $color-primary;
      border: 1px solid brown;
      margin-right: 3px;
      &:hover {
        background-color: #2a2a2a;
        color: white;
      }
    }

    .quantityInput {
      width: 35px;
      text-align: center;
      padding: 0 10px;
      height: 34px;
    }

    .quantityText {
      margin: auto 0;
    }

    .oldPrice {
      text-decoration: line-through red;
      color: rgb(151, 151, 151);
      margin-right: 10px;
    }

    .price,
    .oldPrice {
      font-size: larger;
    }

    .icon {
      background-color: $color-primary;
      border: 1px solid brown;
      color: black;
      margin-right: 3px;
      min-width: 29px;
      &:hover {
        background-color: #2a2a2a;
        color: white;
      }
    }
  }
}
