@import "../../../styles/settings.scss";

.root {
  padding: ($base-size * 2) 0;

  .bicyclesContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    :hover{
      opacity: 0.8;
    }
  }

  .card {
    width: 600px;
    display: inline-block;
    margin: 24px 12px;
    text-decoration: none;
    cursor: pointer;

    .photo {
      position: relative;
      padding: 0;
      // background: {
      //   color: red;
      //   size: contain;
      //   position: center;
      //   repeat: no-repeat;
      // }
      // overflow: hidden;
      // align-items: flex-end;

      .sale {
        position: absolute;
        border: solid $color-main_font;
        top: -25px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgba(0, 0, 0, 0.781);
        border-radius: 60%;
        font-size: 24px;
        color: $color-main_font;
        padding: 29px 27px 15px 31px;
      }
    }

    .details {
      margin: 12px 0;
      > * {
        font-size: 0.8rem;
      }
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 19px;

        .oldPrice {
          color: grey;
          text-decoration: line-through grey;
          padding-right: 5px;
          font-size: 16px;
          font-weight: 400;
        }
      }
    }

    .description {
      margin: 12px 0;
    }
  }
}
