@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;

  a:hover {
    text-decoration: none;
  }

  .container {
    margin: 0 auto;
    width: 100%;

    .productSection {
      border: solid green;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }

    .productBox,
    .commentsBox,
    .quantityBox {
      display: flex;
      flex-direction: column;
      text-align: center;
      // border: solid red;
      width: 250px;
      .productTitle {
        font-size: 16px;
        color: $color-main_font;
        font-weight: 500;
        letter-spacing: 1px;
      }

      h5 {
        color: $color-main_font;
        margin: 20px;
        font-size: 16px;
      }

      input {
        display: inline-block;
        padding: 5px 10px;
        border: 1px solid #2a2a2a;
        color: #2a2a2a;
        line-height: 22px;
        width: 35px;
        text-align: center;
      }
    }

    .commentsBox {
      margin: 0 15px;
      // border: solid red;
    }
    .quantityButton {
      display: flex;
      text-align: center;
      align-items: center;
      align-content: center;
      align-self: center;
      height: 100%;
    }
    .photo {
      height: 116px;
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      padding-top: 5px;
    }
    // u góry jest ok
    table {
      width: 100%;
      margin-bottom: 20px;

      thead,
      tbody {
        font-size: 16px;
        color: $color-main_font;
        font-weight: 500;
        letter-spacing: 1px;
      }

      tr {
        border-bottom: 1px solid grey;
      }

      th,
      tr > td:not(:first-child) {
        text-align: center;
      }

      thead {
        th,
        td {
          padding: 10px;
        }
      }

      tbody {
        .photo {
          height: 200px;
          width: 90%;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          padding-top: 5px;
        }

        input {
          display: inline-block;
          padding: 5px 10px;
          border: 1px solid #2a2a2a;
          color: #2a2a2a;
          line-height: 22px;
          width: 35px;
          text-align: center;
        }
      }
    }

    .checkout,
    .cartOrder {
      display: flex;
      justify-content: flex-end;
      padding: 15px;
    }

    .cartOrder,
    h4 {
      text-transform: uppercase;
      color: #2a2a2a;
      font-weight: 500;
      letter-spacing: 1px;
    }

    .checkout {
      .link {
        text-decoration: none;
      }
      .linkHome {
        margin-right: 20px;
      }
    }

    .checkout button {
      border: none;
      background-color: $color-primary;

      &:hover {
        background-color: #2a2a2a;
        color: white;
      }
    }

    h5 {
      margin-bottom: 50px;
      padding-left: 10px;
    }
  }
}
